
/* main header*/
main{
    width: 70%;
    display: inline-block;
}  
#main-cnt p{
    line-height: 32px;
    font-weight: 300px;
    font-size: 17px;
}
/*Aside*/
aside{
    display: inline-block ;
    width: 21%;
    vertical-align: top;
    margin-left: 4%;
}
.widget{
    border-top: 4px solid black;
    margin-bottom: 40px;
}
.widget input{
    display: block;
    background-color: #f7f7f7;
    margin: 15px;
    padding: 4px;
    color: black;
    font-size: 1.2rem;
}
button[type="submit"]{
    font-size: 1.2rem;
    background-color: black;
    color: white;
    padding: 10px;
}
.sub-btn{
    margin-bottom: 20px;
}
.widget-title{
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bolder;
}
#img{
    height: auto;
    width: 90vw;
    margin-top: 3%;
    margin-left: 50px;
    margin-right: 50px;
}
#blog-header{
    font-size: 1.5rem;
    font-family: sans-serif;
    color: #13222c;
}
.h-style{
    color: #13222c;
    font-size: 1.1rem;
   word-spacing: 1px;
   line-height: 1.4;
}
#search{
    margin-top: 28px;
}
 #recent-post{
    margin-top: 28px;
}
.widget a{
    color: orange;
    font-weight: 300px;
    font-size: 19px;
}
a:hover{
    color: red;
} 
div a{
    color: black;
} 
#set-logo{
    height: 150px;
    width: 150px;
    margin-left: 50px;
    padding:4px;
}
#header-spc{
    margin-left: 50px;
}
#social{
    position: fixed;
    top: 25%;
    left: 0px;
}
#social a{
    display: block;
}
#facebook{
    background-color: #3b5998;
}
#linkedln{
    background-color: #0077b5;
}
#twitter{
    background-color: #83c3f3;
}
#email{
    background-color: #ed4926;
}
#whatsapp{
    background-color: #6ba92f;
}

.social-img{
    padding: 8px 8px;
    height: 25px;
    width: 25px;
}
